Repository zeit/now-builders, pull requests merged in 2019-07, with the labels that each got.

#682 [now-next] Reorder process overrides
  packages/now-next/src/index.ts
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/integration/standard/next.config.js
  packages/now-next/test/integration/standard/now.json
  packages/now-next/test/integration/standard/pages/goodbye.js
Labels: @now/next, Type: Bug

#683 Use the local version of `node` when running via `now dev`
  packages/now-next/src/index.ts
  packages/now-node-server/index.js
  packages/now-node/src/index.ts
Labels: @now/next, @now/node, @now/node-server

#685 Add homepage to all packages
  packages/now-bash/package.json
  packages/now-build-utils/package.json
  packages/now-go/package.json
  packages/now-html-minifier/package.json
  packages/now-md/package.json
  packages/now-mdx-deck/package.json
  packages/now-next/package.json
  packages/now-node-server/package.json
  packages/now-node/package.json
  packages/now-optipng/package.json
  packages/now-php/package.json
  packages/now-python/package.json
  packages/now-ruby/package.json
  packages/now-rust/package.json
  packages/now-static-build/package.json
Labels: @now/bash, @now/build-utils, @now/go, @now/md, @now/mdx-deck, @now/next, @now/node, @now/node-server, @now/optipng, @now/php, @now/python, @now/ruby, @now/rust, @now/static-build, Type: Docs

#690 [now-ruby] Use ruby 2.5.5
  packages/now-ruby/install-ruby.ts
Labels: @now/ruby

#689 [now-ruby] Use BUNDLE_JOBS=4 for parallel Ruby gem downloads
  packages/now-ruby/index.ts
Labels: @now/ruby

#641 Bumps ncc to 0.20.x
  packages/now-node-server/index.js
  packages/now-node-server/package.json
  packages/now-node/@types/zeit__ncc/index.d.ts
  packages/now-node/package.json
  packages/now-node/src/index.ts
  yarn.lock
Labels: @now/node, @now/node-server

#691 [now-node] Add support for `server.listen()`
  packages/now-node/src/launcher.ts
  packages/now-node/test/fixtures/02-node-server/hapi-async/index.js
  packages/now-node/test/fixtures/02-node-server/hapi-async/package.json
  packages/now-node/test/fixtures/02-node-server/index.js
  packages/now-node/test/fixtures/02-node-server/now.json
  packages/now-node/test/fixtures/02-node-server/subdirectory/index.js
Labels: @now/node

#613 [now-node] Benchmark helpers
  packages/now-node/bench/.gitignore
  packages/now-node/bench/entrypoint-express.js
  packages/now-node/bench/entrypoint-helpers.js
  packages/now-node/bench/entrypoint-load-helpers.js
  packages/now-node/bench/entrypoint-notload-helpers.js
  packages/now-node/bench/package.json
  packages/now-node/bench/run.js
  packages/now-node/bench/yarn.lock
Labels: @now/node, Type: Tests

#695 Add lucleray to codeowners
  .github/CODEOWNERS
Labels: Type: Docs

#626 [now-node] Reduce risks of conflict with entrypoint's name
  packages/now-node/src/index.ts
  packages/now-node/src/launcher.ts
  packages/now-node/test/fixtures/17-entrypoint-name-conflict/bridge.js
  packages/now-node/test/fixtures/17-entrypoint-name-conflict/helpers.js
  packages/now-node/test/fixtures/17-entrypoint-name-conflict/launcher.js
  packages/now-node/test/fixtures/17-entrypoint-name-conflict/now.json
Labels: @now/node, Type: Enhancement

#706 [now-node] Make `types.d.ts` the main types export
  packages/now-node/build.sh
Labels: @now/node

#700 [now-build-utils] Add option to skip download + yarn mutex
  packages/now-build-utils/src/fs/download.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/types.ts
Labels: @now/build-utils

#707 [now-build-utils] Add shell script args / opts
  packages/now-build-utils/src/fs/run-user-scripts.ts
Labels: @now/build-utils

#708 [now-static-build] Add support for Node 10 in shell scripts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/02-cowsay-sh/node10sh/build.sh
  packages/now-static-build/test/fixtures/02-cowsay-sh/node10sh/package.json
  packages/now-static-build/test/fixtures/02-cowsay-sh/now.json
Labels: @now/static-build

#705 [now-build-utils] Add methods to detect builders and routes from files and package.json
  packages/now-build-utils/package.json
  packages/now-build-utils/src/detect-builder.ts
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/test/test.js
  yarn.lock
Labels: @now/build-utils

#713 Fix branch inconsistencies
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-php/package.json
  packages/now-wordpress/package.json
Labels: Type: Enhancement

#715 Fixed package inconsistency
  packages/now-node-server/package.json
Labels: Type: Enhancement

#717 Fixed yarn.lock
  yarn.lock
Labels: Type: Enhancement

#711 [now-python] Support ASGI functions as well as classes
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/12-asgi-function/index.py
  packages/now-python/test/fixtures/12-asgi-function/now.json
Labels: @now/python

#720 [now-build-utils] Fix default routes on windows and adjust error message
  packages/now-build-utils/src/detect-routes.ts
Labels: @now/build-utils

#721 [now-node-server] Remove package source code
  packages/now-node-server/.npmignore
  packages/now-node-server/index.js
  packages/now-node-server/launcher.js
  packages/now-node-server/package.json
  packages/now-node-server/test/fixtures/01-cowsay/index.js
  packages/now-node-server/test/fixtures/01-cowsay/now.json
  packages/now-node-server/test/fixtures/01-cowsay/package.json
  packages/now-node-server/test/fixtures/01-cowsay/subdirectory/index.js
  packages/now-node-server/test/fixtures/01-cowsay/subdirectory/package.json
  packages/now-node-server/test/fixtures/03-env-vars/build-env/index.js
  packages/now-node-server/test/fixtures/03-env-vars/build-env/now-build.js
  packages/now-node-server/test/fixtures/03-env-vars/build-env/package.json
  packages/now-node-server/test/fixtures/03-env-vars/env/index.js
  packages/now-node-server/test/fixtures/03-env-vars/now.json
  packages/now-node-server/test/fixtures/06-content-type/index.js
  packages/now-node-server/test/fixtures/06-content-type/now.json
  packages/now-node-server/test/fixtures/06-content-type/probe.js
  packages/now-node-server/test/fixtures/08-assets/index.js
  packages/now-node-server/test/fixtures/08-assets/now.json
  packages/now-node-server/test/fixtures/08-assets/subdirectory1/asset.txt
  packages/now-node-server/test/fixtures/08-assets/subdirectory2/asset.txt
  packages/now-node-server/test/fixtures/09-no-bundle/now.json
  packages/now-node-server/test/fixtures/09-no-bundle/with-bundle/index.js
  packages/now-node-server/test/fixtures/09-no-bundle/with-bundle/is-bundled.js
  packages/now-node-server/test/fixtures/09-no-bundle/without-bundle/index.js
  packages/now-node-server/test/fixtures/09-no-bundle/without-bundle/is-bundled.js
  packages/now-node-server/test/fixtures/10-others/apollo/index.js
  packages/now-node-server/test/fixtures/10-others/apollo/package.json
  packages/now-node-server/test/fixtures/10-others/now.json
  packages/now-node-server/test/fixtures/11-include-files/accepts-string/index.js
  packages/now-node-server/test/fixtures/11-include-files/index.js
  packages/now-node-server/test/fixtures/11-include-files/now.json
  packages/now-node-server/test/fixtures/11-include-files/package.json
  packages/now-node-server/test/fixtures/11-include-files/templates/index.html
  packages/now-node-server/test/test.js
  packages/now-node/src/helpers.ts
  yarn.lock
Labels: @now/node, @now/node-server

#712 [now-node] Use `node-file-trace` approach as `ncc` alternative
  packages/now-node/build.sh
  packages/now-node/package.json
  packages/now-node/src/babel.ts
  packages/now-node/src/index.ts
  packages/now-node/src/launcher.ts
  packages/now-node/src/typescript.ts
  packages/now-node/test/fixtures/12-stack-trace-esm/index.js
  packages/now-node/test/fixtures/12-stack-trace-esm/now.json
  yarn.lock
Labels: @now/node

#723 [now-bash][now-go][now-python] Support zero config
  packages/now-bash/index.js
  packages/now-go/index.ts
  packages/now-python/src/index.ts
Labels: @now/bash

#726 Nested tsconfig.json lookup support
  packages/now-node/src/index.ts
  packages/now-node/src/typescript.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/functions/double-redirect.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/functions/package.json
  packages/now-node/test/fixtures/18-nested-tsconfig/functions/referer-redirect.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/functions/trailing-redirect.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/functions/tsconfig.json
  packages/now-node/test/fixtures/18-nested-tsconfig/index.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/now.json
  packages/now-node/test/fixtures/18-nested-tsconfig/package.json
  packages/now-node/test/fixtures/18-nested-tsconfig/tsconfig.json
Labels: @now/node

#688 [now-next] Create a serverless config by creating a new config
  packages/now-next/src/create-serverless-config.ts
  packages/now-next/src/index.ts
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/integration/serverless-config-async/next.config.js
  packages/now-next/test/integration/serverless-config-async/now.json
  packages/now-next/test/integration/serverless-config-async/package.json
  packages/now-next/test/integration/serverless-config-async/pages/goodbye.js
  packages/now-next/test/integration/serverless-config-async/pages/index.js
  packages/now-next/test/integration/serverless-config-object/next.config.js
  packages/now-next/test/integration/serverless-config-object/now.json
  packages/now-next/test/integration/serverless-config-object/package.json
  packages/now-next/test/integration/serverless-config-object/pages/goodbye.js
  packages/now-next/test/integration/serverless-config-object/pages/index.js
  packages/now-next/test/integration/serverless-config-promise/next.config.js
  packages/now-next/test/integration/serverless-config-promise/now.json
  packages/now-next/test/integration/serverless-config-promise/package.json
  packages/now-next/test/integration/serverless-config-promise/pages/goodbye.js
  packages/now-next/test/integration/serverless-config-promise/pages/index.js
  packages/now-next/test/integration/serverless-config/next.config.js
  packages/now-next/test/integration/serverless-config/now.json
  packages/now-next/test/integration/serverless-config/package.json
  packages/now-next/test/integration/serverless-config/pages/goodbye.js
  packages/now-next/test/integration/serverless-config/pages/index.js
  packages/now-next/test/integration/serverless-no-config/now.json
  packages/now-next/test/integration/serverless-no-config/package.json
  packages/now-next/test/integration/serverless-no-config/pages/goodbye.js
  packages/now-next/test/integration/serverless-no-config/pages/index.js
  test/lib/run-build-lambda.js
Labels: @now/next

#730 [now-node] Add integration test for `sharp`
  packages/now-node/test/fixtures/30-sharp/index.js
  packages/now-node/test/fixtures/30-sharp/monkey.jpg
  packages/now-node/test/fixtures/30-sharp/now.json
  packages/now-node/test/fixtures/30-sharp/package.json
Labels: @now/node, Type: Tests

#731 [now-node] Add puppeteer / lighthouse tests
  packages/now-node/test/fixtures/35-puppeteer/lighthouse/index.js
  packages/now-node/test/fixtures/35-puppeteer/now.json
  packages/now-node/test/fixtures/35-puppeteer/package.json
  packages/now-node/test/fixtures/35-puppeteer/screenshot/index.js
Labels: @now/node

#733 Remove deprecated builders
  packages/now-html-minifier/.yarnrc
  packages/now-html-minifier/index.js
  packages/now-html-minifier/package.json
  packages/now-html-minifier/yarn.lock
  packages/now-md/.npmignore
  packages/now-md/index.js
  packages/now-md/package.json
  packages/now-md/test/fixtures/01-cowsay/index.md
  packages/now-md/test/fixtures/01-cowsay/now.json
  packages/now-md/test/fixtures/01-cowsay/subdirectory/index.md
  packages/now-md/test/test.js
  packages/now-md/yarn.lock
  packages/now-mdx-deck/.npmignore
  packages/now-mdx-deck/index.js
  packages/now-mdx-deck/package.json
  packages/now-mdx-deck/test/fixtures/01-cowsay/index.mdx
  packages/now-mdx-deck/test/fixtures/01-cowsay/now.json
  packages/now-mdx-deck/test/fixtures/01-cowsay/subdirectory/index.mdx
  packages/now-mdx-deck/test/test.js
  packages/now-node/src/example-import.ts
  packages/now-optipng/.gitignore
  packages/now-optipng/package.json
  packages/now-optipng/src/index.ts
  packages/now-optipng/test/fixtures/01-cowsay/now.json
  packages/now-optipng/test/fixtures/01-cowsay/showcase.png
  packages/now-optipng/test/fixtures/01-cowsay/subdirectory/naruto.png
  packages/now-optipng/test/test.js
  packages/now-optipng/tsconfig.json
  packages/now-optipng/types/multipipe.d.ts
  packages/now-optipng/types/optipng.d.ts
  packages/now-wordpress/.npmignore
  packages/now-wordpress/index.js
  packages/now-wordpress/package.json
  packages/now-wordpress/test/fixtures/20-minimal/ca.pem
  packages/now-wordpress/test/fixtures/20-minimal/now.json
  packages/now-wordpress/test/fixtures/20-minimal/wp-config.php
  yarn.lock
Labels: @now/md, @now/mdx-deck, @now/optipng, @now/wordpress

#734 [now-build-utils] Add warnings and simpler routes
  packages/now-build-utils/src/detect-builder.ts
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#742 [now-node] Add support for AWS Lambda API usage
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/25-aws-api/callback/index.js
  packages/now-node/test/fixtures/25-aws-api/index.js
  packages/now-node/test/fixtures/25-aws-api/now.json
  packages/now-node/test/fixtures/25-aws-api/package.json
Labels: @now/node

#744 [now-lambda] Remove package source code
  packages/now-lambda/.npmignore
  packages/now-lambda/index.js
  packages/now-lambda/package.json
  packages/now-lambda/test/fixtures/01-cowsay/index.zip
  packages/now-lambda/test/fixtures/01-cowsay/now.json
  packages/now-lambda/test/fixtures/01-cowsay/subdirectory/index.zip
  packages/now-lambda/test/test.js
  packages/now-node/src/helpers.ts
Labels: @now/lambda

#748 [now-node] Update node-file-trace to 0.1.6
  packages/now-node/package.json
  yarn.lock
Labels: @now/node

#741 Remove maxLambdaSize config from all builders
  packages/now-bash/index.js
  packages/now-build-utils/test/fixtures/15-yarn-ignore-engines/now.json
  packages/now-go/index.ts
  packages/now-next/src/index.ts
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/30-sharp/now.json
  packages/now-node/test/fixtures/35-puppeteer/now.json
  packages/now-php/index.js
  packages/now-python/src/index.ts
  packages/now-python/test/fixtures/08-django/now.json
  packages/now-python/test/fixtures/11-asgi/now.json
  packages/now-python/test/fixtures/12-asgi-function/now.json
  packages/now-ruby/index.ts
  packages/now-ruby/test/fixtures/06-rails/now.json
  packages/now-rust/src/index.ts
Labels: @now/bash, @now/go, @now/next, @now/node, @now/php, @now/python, @now/ruby, @now/rust

#728 [now-node] Support symlink outputs
  packages/now-node/.gitignore
  packages/now-node/build.sh
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/11-symlinks/index.js
  packages/now-node/test/fixtures/11-symlinks/now.json
  packages/now-node/test/fixtures/11-symlinks/symlinked-asset
Labels: @now/node

#745 [now-next] Update dynamic routes to have prefix in src
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @now/next

#750 [now-static-build] Fix warning and framework support
  packages/now-build-utils/src/detect-builder.ts
  packages/now-build-utils/test/test.js
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/14-angular-configured/.editorconfig
  packages/now-static-build/test/fixtures/14-angular-configured/.gitignore
  packages/now-static-build/test/fixtures/14-angular-configured/README.md
  packages/now-static-build/test/fixtures/14-angular-configured/angular.json
  packages/now-static-build/test/fixtures/14-angular-configured/browserslist
  packages/now-static-build/test/fixtures/14-angular-configured/e2e/protractor.conf.js
  packages/now-static-build/test/fixtures/14-angular-configured/e2e/src/app.e2e-spec.ts
  packages/now-static-build/test/fixtures/14-angular-configured/e2e/src/app.po.ts
  packages/now-static-build/test/fixtures/14-angular-configured/e2e/tsconfig.json
  packages/now-static-build/test/fixtures/14-angular-configured/karma.conf.js
  packages/now-static-build/test/fixtures/14-angular-configured/now.json
  packages/now-static-build/test/fixtures/14-angular-configured/package.json
  packages/now-static-build/test/fixtures/14-angular-configured/src/app/app.component.css
  packages/now-static-build/test/fixtures/14-angular-configured/src/app/app.component.html
  packages/now-static-build/test/fixtures/14-angular-configured/src/app/app.component.spec.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/app/app.component.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/app/app.module.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/assets/.gitkeep
  packages/now-static-build/test/fixtures/14-angular-configured/src/environments/environment.prod.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/environments/environment.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/favicon.ico
  packages/now-static-build/test/fixtures/14-angular-configured/src/index.html
  packages/now-static-build/test/fixtures/14-angular-configured/src/main.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/polyfills.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/styles.css
  packages/now-static-build/test/fixtures/14-angular-configured/src/test.ts
  packages/now-static-build/test/fixtures/14-angular-configured/tsconfig.app.json
  packages/now-static-build/test/fixtures/14-angular-configured/tsconfig.json
  packages/now-static-build/test/fixtures/14-angular-configured/tsconfig.spec.json
  packages/now-static-build/test/fixtures/14-angular-configured/tslint.json
  packages/now-static-build/test/fixtures/14-angular-configured/yarn.lock
  packages/now-static-build/test/fixtures/16-hexo/now.json
  packages/now-static-build/test/fixtures/16-hexo/package.json
  packages/now-static-build/test/test.js
  test/lib/deployment/test-deployment.js
Labels: @now/static-build

#747 [now-static-build] Use `yarn` when invoking `now-dev` script
  packages/now-static-build/src/index.ts
Labels: @now/static-build

#759 [now-node] Bump @zeit/node-file-trace to 0.1.7
  packages/now-node/package.json
  packages/now-node/test/fixtures/40-yarn-workspaces/api/index.js
  packages/now-node/test/fixtures/40-yarn-workspaces/api/package.json
  packages/now-node/test/fixtures/40-yarn-workspaces/now.json
  packages/now-node/test/fixtures/40-yarn-workspaces/package.json
  packages/now-node/test/fixtures/40-yarn-workspaces/packages/lib/index.js
  packages/now-node/test/fixtures/40-yarn-workspaces/packages/lib/package.json
  packages/now-node/test/fixtures/40-yarn-workspaces/yarn.lock
  yarn.lock
Labels: @now/node

#760 [now-node] Fix `.tsx` resolution
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/04-tsx-resolve/dep.tsx
  packages/now-node/test/fixtures/04-tsx-resolve/index.ts
  packages/now-node/test/fixtures/04-tsx-resolve/now.json
  packages/now-node/test/fixtures/04-tsx-resolve/tsconfig.json
Labels: @now/node

#764 [now-go] Improve support for zero-config in now dev
  packages/now-go/index.ts
Labels: @now/go, now dev

#766 [now-node-bridge] Increase timeout to 10 minutes
  packages/now-node-bridge/src/bridge.ts
Labels: @now/next, @now/node

#768 Revert "[now-node-bridge] Increase timeout to 10 minutes"
  packages/now-node-bridge/src/bridge.ts
Labels: @now/next, @now/node

#771 [now-build-utils] Ignore more default routes and builds
  packages/now-build-utils/src/detect-builder.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#772 [now-build-utils] Fix file order
  packages/now-build-utils/src/detect-builder.ts
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#765 [now-node] Yarn workspaces transpilation & typescript dependencies
  packages/now-node/package.json
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/41-yarn-workspaces-transpilation/api/index.js
  packages/now-node/test/fixtures/41-yarn-workspaces-transpilation/api/package.json
  packages/now-node/test/fixtures/41-yarn-workspaces-transpilation/now.json
  packages/now-node/test/fixtures/41-yarn-workspaces-transpilation/package.json
  packages/now-node/test/fixtures/41-yarn-workspaces-transpilation/packages/lib/babel.config.js
  packages/now-node/test/fixtures/41-yarn-workspaces-transpilation/packages/lib/hash/index.js
  packages/now-node/test/fixtures/41-yarn-workspaces-transpilation/packages/lib/index.js
  packages/now-node/test/fixtures/41-yarn-workspaces-transpilation/packages/lib/package.json
  packages/now-node/test/fixtures/41-yarn-workspaces-transpilation/yarn.lock
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/api/index.js
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/api/package.json
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/now.json
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/package.json
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/packages/lib/hash/index.ts
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/packages/lib/index.ts
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/packages/lib/package.json
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/packages/lib/tsconfig.json
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/tsconfig.json
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/yarn.lock
  yarn.lock
Labels: @now/node

#780 Regenerate yarn.lock and pin dependencies
  package.json
  packages/now-build-utils/package.json
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-next/package.json
  packages/now-node-bridge/package.json
  packages/now-node-bridge/src/bridge.ts
  packages/now-node/build.sh
  packages/now-node/src/helpers.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/14-angular-configured/e2e/src/app.e2e-spec.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/app/app.component.spec.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/test.ts
  packages/now-static-build/test/fixtures/14-angular/e2e/src/app.e2e-spec.ts
  packages/now-static-build/test/fixtures/14-angular/src/app/app.component.spec.ts
  packages/now-static-build/test/fixtures/14-angular/src/test.ts
  packages/now-static-build/test/fixtures/18-umi/src/layouts/__tests__/index.test.tsx
  packages/now-static-build/test/fixtures/18-umi/src/pages/__tests__/index.test.tsx
  yarn.lock
Labels: Type: Tests

#778 [now-bash] Respect `meta.isDev` flag
  packages/now-bash/builder.sh
  packages/now-bash/index.js
  packages/now-bash/package.json
  packages/now-bash/test/fixtures/01-cowsay/index.sh
  packages/now-bash/test/fixtures/01-cowsay/now.json
  packages/now-bash/test/fixtures/01-cowsay/subdirectory/index.sh
  packages/now-bash/test/test.js
  packages/now-bash/yarn.lock
Labels: @now/bash

#784 Ignore yarn.lock changes on publish
  .circleci/publish.sh
Labels: Type: Tests

#783 Enhance readme publish steps
  README.md
Labels: Type: Docs

#782 [now-node] Yarn workspaces/transpilation followup
  packages/now-node/package.json
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/packages/lib/package.json
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/packages/lib/src/hash/index.ts
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/packages/lib/src/index.ts
  packages/now-node/test/fixtures/42-yarn-workspaces-typescript-dep/packages/lib/tsconfig.json
  yarn.lock
Labels: @now/node

#798 [now-build-utils] Add nuxt builder detection
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#792 [now-build-utils] Display link for missing `build` script warning
  packages/now-build-utils/src/detect-builders.ts
Labels: @now/build-utils

#786 [now-node] Add logs with time for each step
  packages/now-node/src/index.ts
Labels: @now/node

#795 [now-static-build] Improve error message for the output directory for zero config
  packages/now-static-build/src/index.ts
Labels: @now/static-build

#801 Added zero config support for Ember
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/20-ember/.editorconfig
  packages/now-static-build/test/fixtures/20-ember/.ember-cli
  packages/now-static-build/test/fixtures/20-ember/.eslintignore
  packages/now-static-build/test/fixtures/20-ember/.eslintrc.js
  packages/now-static-build/test/fixtures/20-ember/.gitignore
  packages/now-static-build/test/fixtures/20-ember/.template-lintrc.js
  packages/now-static-build/test/fixtures/20-ember/.travis.yml
  packages/now-static-build/test/fixtures/20-ember/.watchmanconfig
  packages/now-static-build/test/fixtures/20-ember/README.md
  packages/now-static-build/test/fixtures/20-ember/app/app.js
  packages/now-static-build/test/fixtures/20-ember/app/components/.gitkeep
  packages/now-static-build/test/fixtures/20-ember/app/controllers/.gitkeep
  packages/now-static-build/test/fixtures/20-ember/app/helpers/.gitkeep
  packages/now-static-build/test/fixtures/20-ember/app/index.html
  packages/now-static-build/test/fixtures/20-ember/app/models/.gitkeep
  packages/now-static-build/test/fixtures/20-ember/app/resolver.js
  packages/now-static-build/test/fixtures/20-ember/app/router.js
  packages/now-static-build/test/fixtures/20-ember/app/routes/.gitkeep
  packages/now-static-build/test/fixtures/20-ember/app/styles/app.css
  packages/now-static-build/test/fixtures/20-ember/app/templates/application.hbs
  packages/now-static-build/test/fixtures/20-ember/app/templates/components/.gitkeep
  packages/now-static-build/test/fixtures/20-ember/config/environment.js
  packages/now-static-build/test/fixtures/20-ember/config/optional-features.json
  packages/now-static-build/test/fixtures/20-ember/config/targets.js
  packages/now-static-build/test/fixtures/20-ember/ember-cli-build.js
  packages/now-static-build/test/fixtures/20-ember/now.json
  packages/now-static-build/test/fixtures/20-ember/package-lock.json
  packages/now-static-build/test/fixtures/20-ember/package.json
  packages/now-static-build/test/fixtures/20-ember/public/robots.txt
  packages/now-static-build/test/fixtures/20-ember/testem.js
  packages/now-static-build/test/fixtures/20-ember/vendor/.gitkeep
Labels: Type: Enhancement

#789 [now-node] Change TS default to esModuleInterop=true
  packages/now-node/src/typescript.ts
  packages/now-node/test/fixtures/19-default-import-ts/index.ts
  packages/now-node/test/fixtures/19-default-import-ts/now.json
  packages/now-node/test/fixtures/19-default-import-ts/package.json
Labels: @now/node

#809 [now-static-build] Optimized Docusarus 2.0
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/21-docusaurus-1/.dockerignore
  packages/now-static-build/test/fixtures/21-docusaurus-1/.gitignore
  packages/now-static-build/test/fixtures/21-docusaurus-1/Dockerfile
  packages/now-static-build/test/fixtures/21-docusaurus-1/docker-compose.yml
  packages/now-static-build/test/fixtures/21-docusaurus-1/docs/doc1.md
  packages/now-static-build/test/fixtures/21-docusaurus-1/docs/doc2.md
  packages/now-static-build/test/fixtures/21-docusaurus-1/docs/doc3.md
  packages/now-static-build/test/fixtures/21-docusaurus-1/docs/exampledoc4.md
  packages/now-static-build/test/fixtures/21-docusaurus-1/docs/exampledoc5.md
  packages/now-static-build/test/fixtures/21-docusaurus-1/now.json
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/README.md
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/blog/2016-03-11-blog-post.md
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/blog/2017-04-10-blog-post-two.md
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/blog/2017-09-25-testing-rss.md
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/blog/2017-09-26-adding-rss.md
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/blog/2017-10-24-new-version-1.0.0.md
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/core/Footer.js
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/package.json
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/pages/en/help.js
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/pages/en/index.js
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/pages/en/users.js
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/sidebars.json
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/siteConfig.js
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/css/custom.css
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/img/favicon.ico
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/img/oss_logo.png
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/img/undraw_code_review.svg
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/img/undraw_monitor.svg
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/img/undraw_note_list.svg
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/img/undraw_online.svg
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/img/undraw_open_source.svg
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/img/undraw_operating_system.svg
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/img/undraw_react.svg
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/img/undraw_tweetstorm.svg
  packages/now-static-build/test/fixtures/21-docusaurus-1/website/static/img/undraw_youtube_tutorial.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2/.gitignore
  packages/now-static-build/test/fixtures/22-docusaurus-2/README.md
  packages/now-static-build/test/fixtures/22-docusaurus-2/blog/2019-05-28-hola.md
  packages/now-static-build/test/fixtures/22-docusaurus-2/blog/2019-05-29-hello-world.md
  packages/now-static-build/test/fixtures/22-docusaurus-2/blog/2019-05-30-welcome.md
  packages/now-static-build/test/fixtures/22-docusaurus-2/docs/doc1.md
  packages/now-static-build/test/fixtures/22-docusaurus-2/docs/doc2.md
  packages/now-static-build/test/fixtures/22-docusaurus-2/docs/doc3.md
  packages/now-static-build/test/fixtures/22-docusaurus-2/docs/mdx.md
  packages/now-static-build/test/fixtures/22-docusaurus-2/docusaurus.config.js
  packages/now-static-build/test/fixtures/22-docusaurus-2/now.json
  packages/now-static-build/test/fixtures/22-docusaurus-2/package.json
  packages/now-static-build/test/fixtures/22-docusaurus-2/sidebars.js
  packages/now-static-build/test/fixtures/22-docusaurus-2/src/css/custom.css
  packages/now-static-build/test/fixtures/22-docusaurus-2/src/pages/index.js
  packages/now-static-build/test/fixtures/22-docusaurus-2/src/pages/styles.module.css
  packages/now-static-build/test/fixtures/22-docusaurus-2/static/img/favicon.ico
  packages/now-static-build/test/fixtures/22-docusaurus-2/static/img/logo.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2/static/img/undraw_docusaurus_mountain.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2/static/img/undraw_docusaurus_react.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2/static/img/undraw_docusaurus_tree.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2/yarn.lock
Labels: @now/static-build, Type: Enhancement

#810 [now-next] Add immutable header to Next.js static assets
  packages/now-build-utils/src/types.ts
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/01-cache-headers/next.config.js
  packages/now-next/test/fixtures/01-cache-headers/now.json
  packages/now-next/test/fixtures/01-cache-headers/package.json
  packages/now-next/test/fixtures/01-cache-headers/pages/index.js
  packages/now-next/test/test.js
  test/lib/deployment/test-deployment.js
Labels: @now/next

#813 [now-node] Fix symlink regression
  packages/now-node/src/index.ts
Labels: @now/node

#819 [now-node] Bump node-file-trace to 0.2.3
  packages/now-node/package.json
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/19-default-import-ts/index.ts
  packages/now-node/test/fixtures/20-mixed-modules/entrypoint.js
  packages/now-node/test/fixtures/20-mixed-modules/entrypoint.ts
  packages/now-node/test/fixtures/20-mixed-modules/js/commonjs-module.js
  packages/now-node/test/fixtures/20-mixed-modules/js/ecmascript-module.js
  packages/now-node/test/fixtures/20-mixed-modules/js/package.json
  packages/now-node/test/fixtures/20-mixed-modules/now.json
  packages/now-node/test/fixtures/20-mixed-modules/ts/commonjs-module.ts
  packages/now-node/test/fixtures/20-mixed-modules/ts/ecmascript-module.ts
  packages/now-node/test/fixtures/20-mixed-modules/ts/package.json
  yarn.lock
Labels: @now/node

#821 [now-build-utils] Do not use `canary` for zero config
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#820 [now-build-utils] Use ncc before publishing to npm
  package.json
  packages/now-build-utils/build.sh
  packages/now-build-utils/package.json
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#829 [now-build-utils] Update Route type to support "status"
  packages/now-build-utils/src/types.ts
Labels: @now/build-utils

#828 [now-next] Update _error.js route to return 404 status instead of 200
  packages/now-next/src/index.ts
Labels: @now/next

#830 [now-node] Fix `18-nested-tsconfig` tests
  packages/now-node/test/fixtures/18-nested-tsconfig/functions/double-redirect.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/now.json
Labels: @now/node

#831 [now-build-utils] Add `debug()` function
  packages/now-build-utils/src/debug.ts
  packages/now-build-utils/src/index.ts
Labels: @now/build-utils

#832 [now-next] Use ncc before publishing to npm
  packages/now-next/.gitignore
  packages/now-next/build.sh
  packages/now-next/getBridgeTypes.sh
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-next/src/launcher.ts
  packages/now-next/test/unit/utils.test.js
  test/lib/deployment/now-deploy.js
  yarn.lock
Labels: @now/next

#839 [now-static-build] Use ncc before publishing to npm
  packages/now-static-build/build.sh
  packages/now-static-build/package.json
Labels: @now/static-build

#847 [now-next] Fix dev-server bundle output
  packages/now-next/build.sh
  packages/now-next/test/unit/export.test.js
Labels: @now/next

#846 [now-build-utils] Fix require file path for legacy builders
  packages/now-build-utils/fs/download.js
  packages/now-build-utils/fs/get-writable-directory.js
  packages/now-build-utils/fs/glob.js
  packages/now-build-utils/fs/rename.js
  packages/now-build-utils/fs/run-user-scripts.js
  packages/now-build-utils/fs/stream-to-buffer.js
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#849 [now-node] Bump node-file-trace to 0.2.4
  packages/now-node/package.json
  yarn.lock
Labels: @now/node

#842 [now-static-build] Allow setting the `tag` for zero-config builders
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/test.js
Labels: @now/static-build

#850 [now-build-utils] Remove `@now/nuxt` from default builders
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#852 [now-node] Bump node-file-trace to 0.2.5
  packages/now-node/package.json
  yarn.lock
Labels: @now/node

#857 [now-python] Use pipfile2req to convert pipfile to requirements.txt
  packages/now-python/src/index.ts
Labels: @now/python

#861 [now-node] Bump node-file-trace to 0.2.6
  packages/now-node/package.json
  yarn.lock
Labels: @now/node
