Repository zeit/now-builders, pull requests merged in 2019-02, with the labels that each got.

#216 [now-go] Refactor to be platform-aware for `now dev`
  .eslintignore
  packages/now-go/.gitignore
  packages/now-go/build.sh
  packages/now-go/download-go-bin.js
  packages/now-go/go-helpers.js
  packages/now-go/index.js
  packages/now-go/main.go
  packages/now-go/package.json
  packages/now-go/util/install.js
  packages/now-go/yarn.lock
  yarn.lock
Labels: now-go

#219 [now-node] bump ncc to 0.15.1
  packages/now-node-server/index.js
  packages/now-node/index.js
Labels: now-node, now-node-server

#222 [now-node] add sourceMap flag to ncc
  packages/now-node-server/index.js
  packages/now-node/index.js
Labels: now-node, now-node-server

#99 Fix python
  packages/now-python/index.js
  packages/now-python/now_handler.py
Labels: now-python

#212 [now-node] Migrate to TypeScript
  .circleci/build.sh
  .circleci/config.yml
  package.json
  packages/now-node/.gitignore
  packages/now-node/.npmignore
  packages/now-node/launcher.js
  packages/now-node/package.json
  packages/now-node/src/bridge.d.ts
  packages/now-node/src/index.ts
  packages/now-node/src/launcher.ts
  packages/now-node/tsconfig.json
  yarn.lock
Labels: now-node

#240 feat(@now/next): optional assets directory
  packages/now-next/index.js
Labels: now-next

#242 Remove fs.promised dependency
  packages/now-next/index.js
  packages/now-next/package.json
Labels: now-next
