Repository zeit/now-builders, pull requests merged in 2019-05, with the labels that each got.

#444 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: Type: Core

#446 [node-node] Bump ncc to 0.18.2
  packages/now-node-server/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/node, @now/node-server

#448 Copy the entire process environment to child
  packages/now-next/src/dev-server.ts
  packages/now-next/src/index.ts
Labels: @now/next, now dev

#443 [now-static-build] Warn when now-dev script is missing
  packages/now-static-build/index.js
Labels: @now/static-build

#447 [now-go] Add support for `config.includeFiles`
  packages/now-go/index.ts
  packages/now-go/test/fixtures/08-include-files/index.go
  packages/now-go/test/fixtures/08-include-files/now.json
  packages/now-go/test/fixtures/08-include-files/templates/foo.txt
Labels: @now/go

#450 [now-python] Upgrade build env to python3.6
  packages/now-python/download-and-install-pip.ts
  packages/now-python/index.ts
Labels: @now/python

#441 [now-node] 'config.includeFiles' accepts a string
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/09-include-files/accepts-string.js
  packages/now-node/test/fixtures/09-include-files/now.json
  packages/now-node/test/fixtures/09-include-files/templates/accepts-string.edge
Labels: @now/node

#452 [now-static-build] Fix @now/static-build nested build
  packages/now-static-build/index.js
Labels: @now/static-build, now dev

#442 [now-node-server] 'config.includeFiles' accepts a string
  packages/now-node-server/index.js
  packages/now-node-server/test/fixtures/11-include-files/accepts-string/index.js
  packages/now-node-server/test/fixtures/11-include-files/now.json
Labels: @now/node-server

#459 Remove python/pip installer
  packages/now-python/download-and-install-pip.ts
  packages/now-python/index.ts
Labels: @now/python

#460 [now-go] Improve go checking in user dev machine
  packages/now-go/go-helpers.ts
Labels: @now/go, now dev

#463 [now-build-utils] Add `yarn --ignore-engines` during install
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/test/fixtures/15-yarn-ignore-engines/index.js
  packages/now-build-utils/test/fixtures/15-yarn-ignore-engines/now.json
  packages/now-build-utils/test/fixtures/15-yarn-ignore-engines/package.json
Labels: @now/build-utils

#466 [now-build-utils] Remove `mutable` option and add `sha+ephemeral` scheme
  packages/now-build-utils/src/file-ref.ts
Labels: @now/build-utils

#467 [now-next] Sync runtime env vars in dev server after `app.prepare()`
  packages/now-next/src/dev-server.ts
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @now/next

#468 [now-next] Add public files to the output
  packages/now-build-utils/src/fs/glob.ts
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/integration/monorepo/www/public/data.txt
  packages/now-next/test/integration/public-files/next.config.js
  packages/now-next/test/integration/public-files/now.json
  packages/now-next/test/integration/public-files/package.json
  packages/now-next/test/integration/public-files/pages/index.js
  packages/now-next/test/integration/public-files/public/robots.txt
  packages/now-next/test/unit/build.test.js
  packages/now-rust/now-rust-0.2.3.tgz
  test/lib/run-build-lambda.js
Labels: @now/next

#472 [now-node] Bump ncc to 0.18.3
  packages/now-node-server/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/node, @now/node-server

#473 Add coverage to `.gitignore`
  .gitignore
Labels: Type: Tests

#493 [now-next] Default `NODE_ENV` to "development" for dev server
  packages/now-next/src/index.ts
Labels: @now/next, now dev

#506 [now-go] Ignore folders in `analyze.go` (#503)(#504)
  packages/now-go/util/analyze.go
Labels: @now/go

#495 [now-go] Use meta in `download()`
  packages/now-go/index.ts
  packages/now-go/util/analyze.go
Labels: @now/go, now dev

#514 [now-go] Give user descriptive error message when Go Modules not available
  packages/now-go/go-helpers.ts
Labels: @now/go, now dev

#505 [now-node-bridge] Disable callbackWaitsForEmptyEventLoop
  packages/now-node-bridge/src/bridge.ts
  packages/now-node-bridge/test/bridge.test.js
Labels: @now/next, @now/node, @now/node-server

#520 [now-next] Handle statically exported pages
  packages/now-next/src/index.ts
Labels: @now/next

#513 [now-go] Add option to use private Git for `go get`
  packages/now-go/index.ts
Labels: @now/go

#496 [now-python] Make sure to pass decode url params
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/09-url-params/custom.py
  packages/now-python/test/fixtures/09-url-params/index.py
  packages/now-python/test/fixtures/09-url-params/now.json
  packages/now-python/test/fixtures/09-url-params/requirements.txt
Labels: @now/python

#524 [now-next] Ensure route begins with a slash
  packages/now-next/src/index.ts
Labels: @now/next, Type: Bug

#525 Use unquote() for http handler
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/10-url-params-http-handler/index.py
  packages/now-python/test/fixtures/10-url-params-http-handler/now.json
Labels: @now/python

#527 Add custom path and proper check
  packages/now-python/test/fixtures/09-url-params/now.json
  packages/now-python/test/fixtures/10-url-params-http-handler/custom.py
  packages/now-python/test/fixtures/10-url-params-http-handler/now.json
Labels: @now/python

#529 Switch branch during publish
  package.json
Labels: Type: Tests

#530 [now-build-utils] Add `--unsafe-perm` to npm install
  packages/now-build-utils/src/fs/run-user-scripts.ts
Labels: @now/build-utils

#532 [now-rust] Don't try and install rust and openssl during development
  packages/now-rust/index.js
Labels: @now/rust

#534 Merge master into canary
  packages/now-rust/index.js
Labels: @now/rust

#537 [now-go] Show error when using `package main` with `go.mod`
  packages/now-go/index.ts
Labels: @now/go

#539 Use GitHub Actions for publishing to npm
  .circleci/config.yml
  .circleci/publish.sh
  .github/main.workflow
  package.json
Labels: Type: Tests

#541 [now-next] Fix to deploy serverless error page
  packages/now-next/src/index.ts
  packages/now-next/test/integration/index.test.js
Labels: @now/next

#544 Enable tests for all
  README.md
  test/lib/deployment/now-deploy.js
Labels: Type: Tests

#533 [now-rust] Install rust with rustup & convert now-rust to typescript
  .eslintignore
  packages/now-build-utils/src/index.ts
  packages/now-rust/.gitignore
  packages/now-rust/index.ts
  packages/now-rust/install-rust.ts
  packages/now-rust/package.json
  packages/now-rust/test/test.js
  packages/now-rust/tsconfig.json
  test/lib/deployment/now-deploy.js
  yarn.lock
Labels: @now/rust

#546 [tests] Only publish to npm from master/canary branch
  .circleci/config.yml
  .github/main.workflow
Labels: Type: Tests

#547 [now-python] Disable pip upgrade notice
  packages/now-python/index.ts
Labels: @now/python

#548 [now-python] Improve error message
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/01-cowsay/another/index.py
  packages/now-python/test/fixtures/01-cowsay/now.json
Labels: @now/python

#551 [tests] Fix duplicate GH Actions
  .github/main.workflow
Labels: Type: Tests

#550 [now-python] Publish from dist directory
  .eslintignore
  packages/now-python/.gitignore
  packages/now-python/.npmignore
  packages/now-python/package.json
  packages/now-python/src/index.ts
  packages/now-python/tsconfig.json
Labels: @now/python
