Repository zeit/now-builders, pull requests merged in 2019-06, with the labels that each got.

#556 Fix static-build local development docs link
  packages/now-static-build/index.js
Labels: @now/static-build

#552 [now-layer-node] Add node runtime layer
  .editorconfig
  .eslintignore
  .yarnrc
  packages/now-layer-node/.gitignore
  packages/now-layer-node/package.json
  packages/now-layer-node/src/index.ts
  packages/now-layer-node/src/install-node.ts
  packages/now-layer-node/src/unzip.ts
  packages/now-layer-node/test/test.js
  packages/now-layer-node/tsconfig.json
  packages/now-layer-node/types/promisepipe.ts
  packages/now-layer-node/types/stream-to-promise.ts
  yarn.lock
Labels: @now/node

#559 [now-next] Re-add generating of dynamic routes
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @now/next

#565 [now-go] Fix subdirectory parse fail
  packages/now-go/util/analyze.go
Labels: @now/go

#571 [now-next] Add timer to codeowners
  .github/CODEOWNERS
Labels: @now/next

#570 [now-next] Add generating of dynamic routes for auto exported pages
  packages/now-next/src/index.ts
Labels: @now/next

#572 [now-next] Make sure `.html` is appended to dynamic auto exported routes
  packages/now-next/src/index.ts
Labels: @now/next

#569 [now-next] Route 404 to custom Next.js error page
  packages/now-next/src/index.ts
Labels: @now/next

#578 [now-layer] Add entrypoint to BuildLayerResult
  packages/now-layer-node/src/index.ts
  packages/now-layer-node/src/install.ts
  packages/now-layer-node/test/test.js
  packages/now-layer-npm/src/index.ts
  packages/now-layer-npm/src/install.ts
  packages/now-layer-npm/test/test.js
  packages/now-layer-yarn/src/index.ts
  packages/now-layer-yarn/src/install.ts
  packages/now-layer-yarn/test/test.js
Labels: now-layer

#581 Fix python
  packages/now-python/package.json
Labels: @now/python

#584 [now-rust] config.includeFiles can be `string[]`
  packages/now-rust/index.ts
Labels: @now/rust

#585 [now-rust] Move ts files into /src
  packages/now-rust/src/index.ts
  packages/now-rust/src/install-rust.ts
Labels: @now/rust

#588 Use prettier on .json files
  .vscode/settings.json
  package.json
Labels: Type: Tests

#582 [now-node] Add `watch` array for Builder v2 API
  packages/now-node/@types/zeit__ncc/index.d.ts
  packages/now-node/package.json
  packages/now-node/src/index.ts
  packages/now-node/tsconfig.json
  test/integration/now-node/index.test.js
  yarn.lock
Labels: @now/node, now dev

#577 [now-node] Add Express-like API
  packages/now-build-utils/src/types.ts
  packages/now-node/.gitignore
  packages/now-node/build.sh
  packages/now-node/package.json
  packages/now-node/src/helpers.ts
  packages/now-node/src/index.ts
  packages/now-node/src/types.ts
  packages/now-node/test/fixtures/15-helpers/index.js
  packages/now-node/test/fixtures/15-helpers/no-helpers/index.js
  packages/now-node/test/fixtures/15-helpers/now.json
  packages/now-node/test/fixtures/15-helpers/ts/index.ts
  packages/now-node/test/fixtures/15-helpers/ts/tsconfig.json
  packages/now-node/test/helpers.test.js
  packages/now-node/tsconfig.json
  yarn.lock
Labels: @now/node

#591 [now-node] Change helpers to opt-in
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/15-helpers/now.json
Labels: @now/node

#592 [now-next] Update appending of `.html` to auto exported routes
  packages/now-next/src/index.ts
Labels: @now/next

#580 [now-python] Do not append query string to path
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/09-url-params/custom.py
  packages/now-python/test/fixtures/09-url-params/index.py
  packages/now-python/test/fixtures/09-url-params/now.json
Labels: @now/python

#597 [now-static-build] Should fail build when distDir is empty
  packages/now-static-build/index.js
  packages/now-static-build/test/fixtures/05-empty-dist-dir/now.json
  packages/now-static-build/test/fixtures/05-empty-dist-dir/package.json
  packages/now-static-build/test/fixtures/06-missing-script/now.json
  packages/now-static-build/test/fixtures/06-missing-script/package.json
  packages/now-static-build/test/test.js
Labels: @now/static-build

#599 [node-bridge] Bump version to 1.2.0-canary.0
  packages/now-node-bridge/package.json
Labels: @now/node, @now/node-server

#594 [now-node] Helpers compatibility with express, micro, etc
  packages/now-node/build.sh
  packages/now-node/jest.config.js
  packages/now-node/package.json
  packages/now-node/src/example-import.ts
  packages/now-node/src/helpers.ts
  packages/now-node/src/index.ts
  packages/now-node/src/launcher.ts
  packages/now-node/test/fixtures/15-helpers/express-compat/index.js
  packages/now-node/test/fixtures/15-helpers/express-compat/package.json
  packages/now-node/test/fixtures/15-helpers/micro-compat/index.js
  packages/now-node/test/fixtures/15-helpers/micro-compat/package.json
  packages/now-node/test/fixtures/15-helpers/now.json
  packages/now-node/test/helpers.test.js
  packages/now-node/test/helpers.test.ts
  yarn.lock
Labels: @now/node

#600 Pin now-node-bridge dependencies in now-next and now-node-server
  packages/now-next/package.json
  packages/now-node-server/package.json
  yarn.lock
Labels: @now/next, @now/node-server

#601 [now-node] Make helpers opt-out instead of opt-in
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/15-helpers/now.json
Labels: @now/node

#602 [now-node] Move `@types/node` to dependencies
  packages/now-node/package.json
  packages/now-node/src/helpers.ts
Labels: @now/node

#603 [now-node] Assign type for `req.headers.cookie`
  packages/now-node/src/helpers.ts
Labels: @now/node

#606 [now-next] Fix erroneous `.next` folder message
  packages/now-next/src/index.ts
Labels: @now/next

#607 [now-next] Humanize message about `now-build`
  packages/now-next/src/index.ts
Labels: @now/next

#609 [now-node] Improve `@now/node` helpers
  packages/now-node/src/helpers.ts
  packages/now-node/src/types.ts
  packages/now-node/test/helpers.test.js
Labels: @now/node

#604 [now-build-utils] Add types for Layers
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/lambda.ts
  packages/now-build-utils/src/types.ts
  packages/now-layer-node/bootstrap/contents.ts
  packages/now-layer-node/bootstrap/now_init.ts
  packages/now-layer-node/src/index.ts
  packages/now-layer-node/src/install.ts
  packages/now-layer-node/test/test.js
  packages/now-layer-npm/src/index.ts
  packages/now-layer-yarn/src/index.ts
  packages/now-node/src/index.ts
Labels: @now/build-utils, @now/node, now-layer

#610 [now-node] Bump layer versions
  packages/now-node/src/index.ts
Labels: @now/layer-*, @now/node

#611 [tests] Run against all commits in the branch
  jest.config.js
Labels: Type: Tests

#615 [now-node] Fix faulty behavior when request's body is empty and content-type is `application/json`
  packages/now-node/src/helpers.ts
  packages/now-node/test/helpers.test.js
Labels: @now/node, Type: Bug

#617 [now-node] Remove layers
  .eslintignore
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/lambda.ts
  packages/now-build-utils/src/types.ts
  packages/now-layer-node/.gitignore
  packages/now-layer-node/bootstrap/contents.ts
  packages/now-layer-node/bootstrap/now_init.ts
  packages/now-layer-node/package.json
  packages/now-layer-node/src/index.ts
  packages/now-layer-node/src/install.ts
  packages/now-layer-node/src/unzip.ts
  packages/now-layer-node/test/test.js
  packages/now-layer-node/tsconfig.json
  packages/now-layer-node/types/promisepipe.ts
  packages/now-layer-node/types/stream-to-promise.ts
  packages/now-layer-npm/.gitignore
  packages/now-layer-npm/package.json
  packages/now-layer-npm/src/index.ts
  packages/now-layer-npm/src/install.ts
  packages/now-layer-npm/test/test.js
  packages/now-layer-npm/tsconfig.json
  packages/now-layer-npm/types/promisepipe.ts
  packages/now-layer-yarn/.gitignore
  packages/now-layer-yarn/package.json
  packages/now-layer-yarn/src/index.ts
  packages/now-layer-yarn/src/install.ts
  packages/now-layer-yarn/test/test.js
  packages/now-layer-yarn/tsconfig.json
  packages/now-layer-yarn/types/promisepipe.ts
  packages/now-node/src/index.ts
Labels: @now/layer-*, @now/node

#628 [tests] Fix yarn.lock
  yarn.lock
Labels: Type: Tests

#618 [now-build-utils] Add `enginesMatch` export
  packages/now-build-utils/package.json
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  yarn.lock
Labels: @now/build-utils

#630 [now-node] Enable node10.x runtime
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/10-node-engines/empty/index.js
  packages/now-node/test/fixtures/10-node-engines/empty/package.json
  packages/now-node/test/fixtures/10-node-engines/exact/index.js
  packages/now-node/test/fixtures/10-node-engines/exact/package.json
  packages/now-node/test/fixtures/10-node-engines/greater/index.js
  packages/now-node/test/fixtures/10-node-engines/greater/package.json
  packages/now-node/test/fixtures/10-node-engines/major/index.js
  packages/now-node/test/fixtures/10-node-engines/major/package.json
  packages/now-node/test/fixtures/10-node-engines/now.json
  packages/now-node/test/fixtures/10-node-engines/range/index.js
  packages/now-node/test/fixtures/10-node-engines/range/package.json
Labels: @now/node

#631 [tests] Bump typescript to 3.5.2
  packages/now-build-utils/package.json
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node-bridge/package.json
  packages/now-node/package.json
  packages/now-optipng/package.json
  packages/now-python/package.json
  packages/now-rust/package.json
  yarn.lock
Labels: Type: Tests

#633 [now-go] Fix failing build when go.mod exists in a subfolder
  packages/now-go/index.ts
  packages/now-go/test/fixtures/14-go-mod-sub/api/index.go
  packages/now-go/test/fixtures/14-go-mod-sub/now.json
  packages/now-go/test/fixtures/14-go-mod-sub/other-folder/go.mod
  packages/now-go/test/fixtures/14-go-mod-sub/other-folder/index.go
Labels: @now/go, Type: Bug

#634 [now-build-utils] Add spawnOpts param to `runNpmInstall()`
  packages/now-build-utils/src/fs/run-user-scripts.ts
Labels: @now/build-utils

#635 Run prettier
  packages/now-python/test/fixtures/09-url-params/now.json
  packages/now-ruby/tsconfig.json
Labels: Type: Tests

#642 [now-ruby] Fix ruby publish step
  packages/now-ruby/package.json
Labels: @now/ruby

#637 [now-node] Change PATH to use node10
  packages/now-node/src/index.ts
Labels: @now/node

#638 [now-node] Fix express not overriding helpers properties
  packages/now-node/package.json
  packages/now-node/src/helpers.ts
  packages/now-node/src/types.ts
  packages/now-node/test/helpers.test.js
  yarn.lock
Labels: @now/node

#644 Proposes a contributing guideline
  CONTRIBUTING.md
  README.md
Labels: Type: Docs

#639 [now-static-build] Use `cross-spawn` and npm for `now dev`
  packages/now-static-build/index.js
  packages/now-static-build/package.json
Labels: @now/static-build, now dev

#648 [now-build-utils] Enhance node version selection
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#649 Add support for node 10 in all builders
  packages/now-next/src/index.ts
  packages/now-node-server/index.js
  packages/now-node/src/index.ts
  packages/now-static-build/index.js
Labels: @now/next, @now/node, @now/node-server, @now/static-build

#650 [now-build-utils] Remove `enginesMatch` export
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
Labels: @now/build-utils

#646 Add `git diff` to publishing steps in readme
  README.md
Labels: Type: Docs

#658 [now-build-utils] Fail if `engines` is invalid
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#659 Revert "[now-node] Fix express not overriding helpers properties"
  packages/now-node/package.json
  packages/now-node/src/helpers.ts
  packages/now-node/src/types.ts
  packages/now-node/test/helpers.test.js
  yarn.lock
Labels: @now/node

#654 [now-python] Add Python ASGI support
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/11-asgi/Pipfile
  packages/now-python/test/fixtures/11-asgi/Pipfile.lock
  packages/now-python/test/fixtures/11-asgi/index.py
  packages/now-python/test/fixtures/11-asgi/now.json
Labels: @now/python

#661 [now-node-bridge] Use a callback on server.listen() method rather than server.on('listening')
  packages/now-node-bridge/src/bridge.ts
Labels: @now/node, @now/node-server

#662 Only run github action on 'release' event
  .github/main.workflow
Labels: Type: Tests

#593 [now-go] Ignore `vendor` folder when looking for `go.mod`
  CONTRIBUTING.md
  README.md
  packages/now-go/index.ts
Labels: @now/go

#660 [now-next] Update @now/next for new dynamic syntax
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @now/next

#663 [tests] Improve git diff in jest config and refactor
  jest.config.js
Labels: Type: Tests

#669 [now-node] Fix res.send() and res.json() helpers
  packages/now-node/src/helpers.ts
  packages/now-node/src/types.ts
  packages/now-node/test/helpers.test.js
Labels: @now/node

#671 [now-static-build] Use typescript
  .eslintignore
  packages/now-static-build/.gitignore
  packages/now-static-build/.npmignore
  packages/now-static-build/package.json
  packages/now-static-build/src/index.ts
  packages/now-static-build/tsconfig.json
  yarn.lock
Labels: @now/static-build

#672 [now-static-build] Improve msg when missing script
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/07-nonzero-sh/build.sh
  packages/now-static-build/test/fixtures/07-nonzero-sh/now.json
  packages/now-static-build/test/test.js
Labels: @now/static-build

#673 [now-static-build] Use `build` and `dev` command if there is no `now-` version
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/11-cowsay-build/now.json
  packages/now-static-build/test/fixtures/11-cowsay-build/package.json
  packages/now-static-build/test/fixtures/11-cowsay-build/subdirectory/package.json
Labels: @now/static-build

#674 [now-static-build] Add missing random to test
  packages/now-static-build/test/fixtures/07-nonzero-sh/build.sh
Labels: @now/build-utils

#675 [now-ruby] Move typescript to devDependency
  packages/now-ruby/package.json
Labels: @now/ruby

#676 [docs] Add codeowners for ruby
  .github/CODEOWNERS
Labels: @now/ruby, Type: Docs

#678 [now-node] Make helpers 100% match expressjs API
  packages/now-node/package.json
  packages/now-node/src/helpers.ts
  packages/now-node/test/helpers.test.js
  yarn.lock
Labels: @now/node

#657 [now-node] Add support for server instance exports
  packages/now-node/package.json
  packages/now-node/src/index.ts
  packages/now-node/src/launcher.ts
  packages/now-node/test/fixtures/15-helpers/express-compat/index.js
  packages/now-node/test/fixtures/15-helpers/now.json
  packages/now-node/test/fixtures/16-servers/express/index.js
  packages/now-node/test/fixtures/16-servers/express/package.json
  packages/now-node/test/fixtures/16-servers/hapi/index.js
  packages/now-node/test/fixtures/16-servers/hapi/package.json
  packages/now-node/test/fixtures/16-servers/index.js
  packages/now-node/test/fixtures/16-servers/koa/index.js
  packages/now-node/test/fixtures/16-servers/koa/package.json
  packages/now-node/test/fixtures/16-servers/now.json
Labels: @now/node

#612 [now-node] Watch consumed assets when running in `now dev`
  packages/now-node/src/index.ts
Labels: @now/node, now dev
