Repository zeit/now-builders, pull requests merged in 2019-04, with the labels that each got.

#309 [now-go] fix subdirectory build fail for `@now/go`
  packages/now-go/index.js
  packages/now-go/test/fixtures/01-cowsay/index.go
  packages/now-go/test/fixtures/01-cowsay/now.json
  packages/now-go/test/fixtures/01-cowsay/subdirectory/index.go
  packages/now-go/test/test.js
Labels: @now/go

#337 [now-node] Bump ncc to 0.17.3
  packages/now-node-server/index.js
  packages/now-node/src/index.ts
Labels: @now/node, @now/node-server

#95 Python WSGI builder without server
  packages/now-python-wsgi/download-and-install-pip.js
  packages/now-python-wsgi/index.js
  packages/now-python-wsgi/now_handler.py
  packages/now-python-wsgi/package.json
  packages/now-python-wsgi/yarn.lock
Labels: @now/python

#339 [@now/python] migrate `@now/python-wsgi to `@now/python`
  packages/now-python-wsgi/download-and-install-pip.js
  packages/now-python-wsgi/index.js
  packages/now-python-wsgi/now_handler.py
  packages/now-python-wsgi/package.json
  packages/now-python-wsgi/yarn.lock
  packages/now-python/download-and-install-pip.js
  packages/now-python/index.js
  packages/now-python/now_handler.py
  packages/now-python/now_init.py
  packages/now-python/package.json
  packages/now-python/test/fixtures/01-cowsay/index.py
  packages/now-python/test/fixtures/01-cowsay/now.json
  packages/now-python/test/fixtures/01-cowsay/requirements.txt
  packages/now-python/test/fixtures/02-wsgi-pipenv/Pipfile
  packages/now-python/test/fixtures/02-wsgi-pipenv/Pipfile.lock
  packages/now-python/test/fixtures/02-wsgi-pipenv/index.py
  packages/now-python/test/fixtures/02-wsgi-pipenv/now.json
  packages/now-python/test/fixtures/03-env-vars/Pipfile
  packages/now-python/test/fixtures/03-env-vars/Pipfile.lock
  packages/now-python/test/fixtures/03-env-vars/index.py
  packages/now-python/test/fixtures/03-env-vars/now.json
  packages/now-python/test/test.js
Labels: @now/python

#352 [now-next] Bump required version of Next.js
  packages/now-next/index.js
Labels: @now/next

#350 [now-next] Strip Carat from version
  packages/now-next/index.js
  packages/now-next/package.json
  yarn.lock
Labels: @now/next

#353 [now-build-utils] decrease sema to fix deployments stuck at 'downloading'
  packages/now-build-utils/src/download.ts
  packages/now-build-utils/src/file-fs-ref.ts
  packages/now-build-utils/src/file-ref.ts
  packages/now-build-utils/src/index.ts
Labels: @now/build-utils

#351 [now-python] convert python builder to use typescript
  .eslintignore
  packages/now-python/.gitignore
  packages/now-python/.npmignore
  packages/now-python/download-and-install-pip.ts
  packages/now-python/index.ts
  packages/now-python/package.json
  packages/now-python/tsconfig.json
  yarn.lock
Labels: @now/python

#362 [now-rust] Make @now-rust's includeFiles match @now/node-server
  packages/now-rust/index.js
  packages/now-rust/test/fixtures/01-include-files/now.json
  packages/now-rust/test/fixtures/01-include-files/static/extra.txt
  packages/now-rust/test/fixtures/01-include-files/static/zeit-white-triangle.svg
Labels: @now/rust

#360 [now-build-utils] add type declaration for glob
  .vscode/settings.json
  packages/now-build-utils/package.json
  packages/now-build-utils/src/fs/glob.ts
Labels: @now/build-utils

#367 [now/python] Update python tests
  packages/now-python/test/fixtures/02-wsgi-pipenv/Pipfile
  packages/now-python/test/fixtures/02-wsgi-pipenv/Pipfile.lock
  packages/now-python/test/fixtures/03-env-vars/Pipfile
  packages/now-python/test/fixtures/03-env-vars/Pipfile.lock
  packages/now-python/test/fixtures/06-content-type/index.py
  packages/now-python/test/fixtures/06-content-type/now.json
Labels: @now/python

#368 [now-static-build] fix link to docs
  packages/now-static-build/index.js
Labels: @now/static-build

#370 now/node: move ncc to npm dependencies
  packages/now-node-server/index.js
  packages/now-node-server/launcher.js
  packages/now-node-server/package.json
  packages/now-node/package.json
  packages/now-node/src/index.ts
  packages/now-node/src/launcher.ts
  yarn.lock
Labels: @now/node

#378 [now/python] Add django test
  packages/now-python/test/fixtures/08-django/Pipfile
  packages/now-python/test/fixtures/08-django/Pipfile.lock
  packages/now-python/test/fixtures/08-django/hello/__init__.py
  packages/now-python/test/fixtures/08-django/hello/settings.py
  packages/now-python/test/fixtures/08-django/hello/urls.py
  packages/now-python/test/fixtures/08-django/hello/views.py
  packages/now-python/test/fixtures/08-django/hello/wsgi.py
  packages/now-python/test/fixtures/08-django/index.py
  packages/now-python/test/fixtures/08-django/manage.py
  packages/now-python/test/fixtures/08-django/now.json
Labels: @now/python

#326 [@now/php] Added includeFiles config
  packages/now-php/index.js
  packages/now-php/test/fixtures/04-include-files/excluded_file.php
  packages/now-php/test/fixtures/04-include-files/included_file.php
  packages/now-php/test/fixtures/04-include-files/index.php
  packages/now-php/test/fixtures/04-include-files/now.json
Labels: @now/php

#392 now/node: fix 07-content-length
  packages/now-node/test/fixtures/07-content-length/probe.js
Labels: Type: Tests

#338 Mute stdio from child process
  packages/now-build-utils/src/fs/run-user-scripts.ts
Labels: @now/build-utils

#382 [build-utils] add default shouldServe and type ShouldServeOptions
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/should-serve.ts
  packages/now-build-utils/src/types.ts
  packages/now-node/src/index.ts
Labels: @now/build-utils, @now/node

#387 [@now/node] Make sure `includeFiles` have proper path inside lambda
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/09-include-files/now.json
  packages/now-node/test/fixtures/09-include-files/root.edge
  packages/now-node/test/fixtures/09-include-files/root.js
Labels: @now/node

#379 Migrate @now/next to Builders v2 + TS
  .eslintignore
  .eslintrc
  jest.config.js
  packages/now-next/.gitignore
  packages/now-next/getBridgeTypes.sh
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-next/src/launcher.ts
  packages/now-next/src/legacy-launcher.ts
  packages/now-next/src/legacy-versions.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/integration/legacy-custom-dependency/now.json
  packages/now-next/test/integration/legacy-custom-dependency/package.json
  packages/now-next/test/integration/legacy-custom-dependency/pages/index.js
  packages/now-next/test/integration/legacy-standard/next.config.js
  packages/now-next/test/integration/legacy-standard/now.json
  packages/now-next/test/integration/legacy-standard/package.json
  packages/now-next/test/integration/legacy-standard/pages/index.js
  packages/now-next/test/integration/legacy-static-files/next.config.js
  packages/now-next/test/integration/legacy-static-files/now.json
  packages/now-next/test/integration/legacy-static-files/package.json
  packages/now-next/test/integration/legacy-static-files/pages/index.js
  packages/now-next/test/integration/legacy-static-files/static/test.txt
  packages/now-next/test/integration/monorepo/now.json
  packages/now-next/test/integration/monorepo/shared/hello.js
  packages/now-next/test/integration/monorepo/www/next.config.js
  packages/now-next/test/integration/monorepo/www/package.json
  packages/now-next/test/integration/monorepo/www/pages/index.js
  packages/now-next/test/integration/monorepo/www/static/test.txt
  packages/now-next/test/integration/no-package-json-and-next-config/now.json
  packages/now-next/test/integration/no-package-json-and-next-config/pages/index.js
  packages/now-next/test/integration/standard/next.config.js
  packages/now-next/test/integration/standard/now.json
  packages/now-next/test/integration/standard/package.json
  packages/now-next/test/integration/standard/pages/index.js
  packages/now-next/test/integration/static-files/next.config.js
  packages/now-next/test/integration/static-files/now.json
  packages/now-next/test/integration/static-files/package.json
  packages/now-next/test/integration/static-files/pages/index.js
  packages/now-next/test/integration/static-files/static/test.txt
  packages/now-next/test/unit/__snapshots__/utils.test.js.snap
  packages/now-next/test/unit/fixtures/entry/next.config.js
  packages/now-next/test/unit/fixtures/next.config.js
  packages/now-next/test/unit/utils.test.js
  packages/now-next/tsconfig.json
  yarn.lock
Labels: @now/next, Type: Core

#391 [now-node] Enable source maps so errors show proper stack trace
  packages/now-node-server/index.js
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/13-stack-trace/index.js
  packages/now-node/test/fixtures/13-stack-trace/now.json
  packages/now-node/test/fixtures/14-stack-trace-ts/index.ts
  packages/now-node/test/fixtures/14-stack-trace-ts/now.json
  packages/now-node/test/fixtures/14-stack-trace-ts/tsconfig.json
Labels: @now/node, @now/node-server

#403 Add fetchTokenWithRetry for bad json response
  test/lib/deployment/now-deploy.js
  test/lib/deployment/test-deployment.js
Labels: Type: Tests

#398 Made `now-next` invoke `next dev`
  packages/now-build-utils/src/types.ts
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  yarn.lock
Labels: @now/next, now dev

#397 `@now/optipng` using typescript
  .eslintignore
  packages/now-build-utils/src/types.ts
  packages/now-optipng/.gitignore
  packages/now-optipng/index.js
  packages/now-optipng/package.json
  packages/now-optipng/src/index.ts
  packages/now-optipng/test/fixtures/01-cowsay/now.json
  packages/now-optipng/test/fixtures/01-cowsay/showcase.png
  packages/now-optipng/test/fixtures/01-cowsay/subdirectory/naruto.png
  packages/now-optipng/test/test.js
  packages/now-optipng/tsconfig.json
  packages/now-optipng/types/multipipe.d.ts
  packages/now-optipng/types/optipng.d.ts
Labels: @now/optipng

#405 Only match absolute paths in Next.js builder
  packages/now-next/src/index.ts
Labels: @now/next, now dev

#409 Renamed property that has changed its name
  packages/now-next/src/index.ts
Labels: @now/next, now dev

#411 [now-node] Bump ncc to 0.18.1
  packages/now-node-server/package.json
  packages/now-node/package.json
  packages/now-node/test/fixtures/14-stack-trace-ts/now.json
  packages/now-node/test/fixtures/14-stack-trace-ts/tsconfig.json
  yarn.lock
Labels: @now/node, @now/node-server

#410 Develop Next.js app inside workPath
  packages/now-next/package.json
  packages/now-next/src/dev-server.ts
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @now/next, now dev

#414 Make `@now/next` dev work on macOS
  packages/now-next/package.json
  packages/now-next/src/dev-server.ts
  packages/now-next/src/index.ts
  yarn.lock
Labels: @now/next, now dev

#415 Add builder v2 tests to @now/next
  packages/now-next/src/index.ts
  packages/now-next/test/unit/build.test.js
Labels: @now/next

#416 Make `download()` dedupe
  packages/now-build-utils/src/fs/download.ts
Labels: @now/build-utils, now dev

#422 Pass `meta` to `download()` of `@now/next`
  packages/now-next/src/index.ts
Labels: @now/build-utils, now dev

#424 [now-node] Add initial Builder v2 API
  packages/now-node/src/index.ts
Labels: @now/node, now dev

#425 Revert "[now-node] Add initial Builder v2 API"
  packages/now-node/src/index.ts
Labels: @now/node

#418 [now-static-build] Add `now-dev` package.json script
  packages/now-static-build/index.js
  packages/now-static-build/package.json
  yarn.lock
Labels: @now/static-build, now dev

#426 Added missing `workPath` type property
  packages/now-build-utils/src/types.ts
Labels: @now/build-utils

#427 Add comment to fsPath about absolute path
  packages/now-build-utils/src/types.ts
Labels: @now/build-utils

#432 [now-go] Improve rebuilt speed for `now dev`
  packages/now-go/index.ts
Labels: @now/go, now dev

#433 [now-go] Using full path for checking against `entrypoint`
  packages/now-go/util/analyze.go
Labels: @now/go

#428 [now-go] Use optimized build flags
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
Labels: @now/go

#435 [now-go] Make install `@now/go` faster
  packages/now-go/go-helpers.ts
  packages/now-go/package.json
  packages/now-go/util/install.js
Labels: @now/go, now dev

#438 [now-go] Improve speed for `now dev`
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
Labels: @now/go, now dev
