Repository zeit/now-builders, pull requests merged in 2019-03, with the labels that each got.

#258 add support go.mod
  packages/now-go/go-helpers.js
  packages/now-go/index.js
  packages/now-go/main__mod__.go
  packages/now-go/package.json
  packages/now-go/util/get-exported-function-name.go
Labels: @now/go

#287 Publish now_lambda 0.1.3
  packages/now-rust/Cargo.lock
  packages/now-rust/Cargo.toml
Labels: @now/rust

#302 [now-node-server] Add `config.includeFiles`
  packages/now-node-server/index.js
  packages/now-node-server/test/fixtures/11-include-files/index.js
  packages/now-node-server/test/fixtures/11-include-files/now.json
  packages/now-node-server/test/fixtures/11-include-files/package.json
  packages/now-node-server/test/fixtures/11-include-files/templates/index.html
Labels: @now/node-server

#277 [now-node] Add `config.includeFiles`
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/09-include-files/index.js
  packages/now-node/test/fixtures/09-include-files/now.json
  packages/now-node/test/fixtures/09-include-files/package.json
  packages/now-node/test/fixtures/09-include-files/templates/index.edge
Labels: @now/node

#281 [now-html-minifier] Remove collapseInlineTagWhitespace option
  packages/now-html-minifier/index.js
Labels: Type: Bug

#304 [now-go] better way to init go.mod
  packages/now-go/index.js
Labels: @now/go

#305 [now-build-utils] Add typescript
  .circleci/config.yml
  .eslintignore
  package.json
  packages/now-build-utils/.gitignore
  packages/now-build-utils/.npmignore
  packages/now-build-utils/file-blob.js
  packages/now-build-utils/file-fs-ref.js
  packages/now-build-utils/file-ref.js
  packages/now-build-utils/fs/download.js
  packages/now-build-utils/fs/get-writable-directory.js
  packages/now-build-utils/fs/glob.js
  packages/now-build-utils/fs/rename.js
  packages/now-build-utils/fs/run-user-scripts.js
  packages/now-build-utils/fs/stream-to-buffer.js
  packages/now-build-utils/lambda.js
  packages/now-build-utils/package.json
  packages/now-build-utils/src/file-blob.ts
  packages/now-build-utils/src/file-fs-ref.ts
  packages/now-build-utils/src/file-ref.ts
  packages/now-build-utils/src/fs/download.ts
  packages/now-build-utils/src/fs/get-writable-directory.ts
  packages/now-build-utils/src/fs/glob.ts
  packages/now-build-utils/src/fs/rename.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/fs/stream-to-buffer.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/lambda.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/tsconfig.json
  packages/now-next/index.js
  packages/now-next/launcher.js
  packages/now-next/legacy-launcher.js
  packages/now-next/package.json
  packages/now-next/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: Type: Enhancement

#310 Add tracing priority to tests
  test/lib/deployment/now-deploy.js
Labels: Type: Enhancement

#311 Enhance TS declarations
  packages/now-build-utils/src/download.ts
  packages/now-build-utils/src/file-blob.ts
  packages/now-build-utils/src/fs/glob.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/types.ts
  packages/now-node-bridge/tsconfig.json
  packages/now-node/src/index.ts
  packages/now-node/tsconfig.json
Labels: Type: Enhancement

#312 [now-node] Print a more helpful message when a module is missing
  packages/now-node/src/launcher.ts
Labels: Type: Enhancement

#294 [now-python] Use `workDir` provided by builder
  packages/now-python/index.js
Labels: @now/python

#317 [now-node] Bump ncc to 0.17.0
  packages/now-node-server/index.js
  packages/now-node/src/index.ts
Labels: @now/node, @now/node-server

#300 [now-rust] Allow extra static files on the lambda fs `config.includeFiles`
  packages/now-rust/index.js
  packages/now-rust/package.json
  packages/now-rust/test/fixtures/01-include-files/Cargo.lock
  packages/now-rust/test/fixtures/01-include-files/Cargo.toml
  packages/now-rust/test/fixtures/01-include-files/now.json
  packages/now-rust/test/fixtures/01-include-files/src/main.rs
  packages/now-rust/test/fixtures/01-include-files/static/sample.txt
  packages/now-rust/test/test.js
Labels: @now/rust

#330 Fix rate limit for tests
  test/lib/deployment/now-deploy.js
Labels: Type: Bug
