Repository zeit/now-builders, pull requests merged in 2019-08, with the labels that each got.

#859 [now-go] install golang in npm install step
  packages/now-go/.gitignore
  packages/now-go/install.ts
  packages/now-go/package.json
Labels: @now/go

#864 [now-build-utils][now-static-build] Fix spawn options for windows
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-static-build/src/index.ts
Labels: @now/build-utils, @now/static-build

#863 [now-rust] install rust in npm install of the builder
  packages/now-rust/package.json
  packages/now-rust/src/index.ts
  packages/now-rust/src/install.ts
Labels: @now/rust

#860 [now-routing-utils] Make Now Routing Utils a Public Library
  .eslintignore
  packages/now-routing-utils/.gitignore
  packages/now-routing-utils/README.md
  packages/now-routing-utils/package.json
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/test/index.spec.js
  packages/now-routing-utils/tsconfig.json
  yarn.lock
Labels: Type: Core

#866 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Type: Docs

#865 [now-static-build] Add sapper Optimization and Test
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/23-sapper/.gitignore
  packages/now-static-build/test/fixtures/23-sapper/README.md
  packages/now-static-build/test/fixtures/23-sapper/appveyor.yml
  packages/now-static-build/test/fixtures/23-sapper/cypress.json
  packages/now-static-build/test/fixtures/23-sapper/now.json
  packages/now-static-build/test/fixtures/23-sapper/package.json
  packages/now-static-build/test/fixtures/23-sapper/src/client.js
  packages/now-static-build/test/fixtures/23-sapper/src/components/Nav.svelte
  packages/now-static-build/test/fixtures/23-sapper/src/routes/_error.svelte
  packages/now-static-build/test/fixtures/23-sapper/src/routes/_layout.svelte
  packages/now-static-build/test/fixtures/23-sapper/src/routes/about.svelte
  packages/now-static-build/test/fixtures/23-sapper/src/routes/blog/[slug].json.js
  packages/now-static-build/test/fixtures/23-sapper/src/routes/blog/[slug].svelte
  packages/now-static-build/test/fixtures/23-sapper/src/routes/blog/_posts.js
  packages/now-static-build/test/fixtures/23-sapper/src/routes/blog/index.json.js
  packages/now-static-build/test/fixtures/23-sapper/src/routes/blog/index.svelte
  packages/now-static-build/test/fixtures/23-sapper/src/routes/index.svelte
  packages/now-static-build/test/fixtures/23-sapper/src/server.js
  packages/now-static-build/test/fixtures/23-sapper/src/service-worker.js
  packages/now-static-build/test/fixtures/23-sapper/src/template.html
  packages/now-static-build/test/fixtures/23-sapper/static/favicon.png
  packages/now-static-build/test/fixtures/23-sapper/static/global.css
  packages/now-static-build/test/fixtures/23-sapper/static/great-success.png
  packages/now-static-build/test/fixtures/23-sapper/static/logo-192.png
  packages/now-static-build/test/fixtures/23-sapper/static/logo-512.png
  packages/now-static-build/test/fixtures/23-sapper/static/manifest.json
  packages/now-static-build/test/fixtures/23-sapper/webpack.config.js
Labels: @now/static-build

#867 Revert "[now-build-utils][now-static-build] Fix spawn options for windows"
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-static-build/src/index.ts
Labels: @now/build-utils, @now/static-build

#874 [now-static-build] Choose `public` dir when there is no `dist` dir
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/24-choose-public/.gitignore
  packages/now-static-build/test/fixtures/24-choose-public/now.json
  packages/now-static-build/test/fixtures/24-choose-public/package.json
Labels: @now/static-build

#876 [now-go] Use ncc before publishing to npm
  packages/now-go/.gitignore
  packages/now-go/.npmignore
  packages/now-go/build.sh
  packages/now-go/package.json
Labels: @now/go

#877 [now-ruby] Use ncc before publishing to npm
  packages/now-ruby/build.sh
  packages/now-ruby/package.json
Labels: @now/ruby

#875 [now-python] Use ncc before publishing to npm
  packages/now-python/build.sh
  packages/now-python/package.json
Labels: @now/python

#773 [now-build-utils] Default to Node 10 for zero config
  packages/now-build-utils/src/fs/run-user-scripts.ts
Labels: @now/build-utils

#879 [now-node][now-next][now-static-build] Enable node 10 for zero config
  packages/now-next/src/index.ts
  packages/now-node/src/index.ts
  packages/now-static-build/src/index.ts
Labels: @now/next, @now/node, @now/static-build

#882 [now-build-utils] Fix 404 for index routes
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#885 [now-build-utils] Fix TS globbing for zero config
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#886 [now-build-utils] Fix TS globbing for zero config
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#887 [now-bash] Move source code to external repository
  packages/now-bash/.editorconfig
  packages/now-bash/.gitignore
  packages/now-bash/bootstrap
  packages/now-bash/builder.sh
  packages/now-bash/index.js
  packages/now-bash/package.json
  packages/now-bash/runtime.sh
  packages/now-bash/test/fixtures/01-cowsay/index.sh
  packages/now-bash/test/fixtures/01-cowsay/now.json
  packages/now-bash/test/fixtures/01-cowsay/subdirectory/index.sh
  packages/now-bash/test/test.js
  packages/now-build-utils/test/test.js
  yarn.lock
Labels: @now/bash

#888 [docs] Add Builders Developer Reference
  DEVELOPING_A_BUILDER.md
  README.md
Labels: Type: Docs

#884 [now-next] Add Serverless Trace to Next.js Builder
  .eslintignore
  packages/now-next/package.json
  packages/now-next/src/create-serverless-config.ts
  packages/now-next/src/index.ts
  packages/now-next/src/templated-launcher.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/02-firebase/next.config.js
  packages/now-next/test/fixtures/02-firebase/now.json
  packages/now-next/test/fixtures/02-firebase/package.json
  packages/now-next/test/fixtures/02-firebase/pages/nested/fb.js
  packages/now-next/test/fixtures/02-firebase/pages/nested/moar/fb.js
  packages/now-next/test/fixtures/03-next-8/next.config.js
  packages/now-next/test/fixtures/03-next-8/now.json
  packages/now-next/test/fixtures/03-next-8/package.json
  packages/now-next/test/fixtures/03-next-8/pages/hello1.js
  packages/now-next/test/fixtures/03-next-8/pages/nested/hello2.js
Labels: @now/next, Type: Enhancement

#891 [now-static-build] Capture file system routes for CRA apps
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/12-create-react-app/now.json
  packages/now-static-build/test/fixtures/12-create-react-app/public/testing-output-dir.txt
Labels: @now/static-build

#893 [tests] Add automerge
  .kodiak.toml
Labels: Type: Tests, automerge

#892 [now-node][now-next] Bump node-file-trace to 0.2.7
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/next, @now/node, automerge

#899 [now-node] Fix windows typescript entrypoint bug
  packages/now-node/src/index.ts
Labels: @now/node, automerge

#897 [now-routing-utils] Allow the combined use of continue and dest
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#900 [now-go] Fix go concurrent/parallel builds
  packages/now-go/build.sh
  packages/now-go/package.json
  packages/now-go/test/fixtures/02-parallel/api/go-one/one.go
  packages/now-go/test/fixtures/02-parallel/api/go-two/two.go
  packages/now-go/test/fixtures/02-parallel/api/go.mod
  packages/now-go/test/fixtures/02-parallel/now.json
Labels: @now/go, automerge

#901 Disable compression for Zips
  packages/now-build-utils/src/lambda.ts
Labels: automerge

#910 [@now/next] Serverless Trace target for Next.js canary only
  packages/now-next/src/create-serverless-config.ts
Labels: @now/next

#907 Revert "Disable compression for Zips"
  packages/now-build-utils/src/lambda.ts
Labels: @now/build-utils, automerge

#904 [now-build-utils] Fix 404 trailing slash for index files and add tests
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/test/fixtures/01-zero-config-api/.gitignore
  packages/now-build-utils/test/fixtures/01-zero-config-api/api/[endpoint].js
  packages/now-build-utils/test/fixtures/01-zero-config-api/api/[endpoint]/[id].js
  packages/now-build-utils/test/fixtures/01-zero-config-api/package.json
  packages/now-build-utils/test/fixtures/02-zero-config-api/.gitignore
  packages/now-build-utils/test/fixtures/02-zero-config-api/api/date.js
  packages/now-build-utils/test/fixtures/02-zero-config-api/api/date/index.js
  packages/now-build-utils/test/fixtures/02-zero-config-api/api/index.js
  packages/now-build-utils/test/fixtures/02-zero-config-api/package.json
  packages/now-build-utils/test/test.js
  test/lib/deployment/test-deployment.js
Labels: @now/build-utils, automerge

#917 [now-node][now-next] Bump node-file-trace to 0.2.8
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/next, @now/node, automerge

#915 [now-python] WSGI encoding dance for QUERY_STRING
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/custom.py
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/index.py
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/now.json
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/requirements.txt
Labels: @now/python

#919 [docs] Add versioning documentation
  PUBLISHING.md
  README.md
  VERSIONING.md
Labels: Type: Docs

#920 [now-node][now-next] Bump node-file-trace to 0.2.9
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/next, @now/node, automerge

#918 [now-static-build] Fix zero config vue headers
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/13-vue/now.json
  packages/now-static-build/test/fixtures/13-vue/vue.config.js
Labels: @now/static-build, automerge

#925 [now-next] Use more appropriate semver comparisons
  packages/now-next/src/create-serverless-config.ts
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/02-firebase/pages/nested/moar/[dynamic_fb].js
Labels: @now/next, automerge

#932 [now-next] Join bundle require path manually
  packages/now-next/src/index.ts
Labels: @now/next, automerge

#933 [now-next] Test on Node 8 and Node 10
  packages/now-next/test/fixtures/02-firebase-node-8/next.config.js
  packages/now-next/test/fixtures/02-firebase-node-8/now.json
  packages/now-next/test/fixtures/02-firebase-node-8/package.json
  packages/now-next/test/fixtures/02-firebase-node-8/pages/nested/fb.js
  packages/now-next/test/fixtures/02-firebase-node-8/pages/nested/moar/[dynamic_fb].js
  packages/now-next/test/fixtures/04-firebase-node-10/next.config.js
  packages/now-next/test/fixtures/04-firebase-node-10/now.json
  packages/now-next/test/fixtures/04-firebase-node-10/package.json
  packages/now-next/test/fixtures/04-firebase-node-10/pages/nested/fb.js
  packages/now-next/test/fixtures/04-firebase-node-10/pages/nested/moar/[dynamic_fb].js
Labels: @now/next, automerge

#927 [now-node] Include global `.d.ts` and fail when `noEmitOnError` is true
  packages/now-node/src/index.ts
  packages/now-node/src/typescript.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/dep.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/functions/es5.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/functions/tsconfig.json
  packages/now-node/test/fixtures/18-nested-tsconfig/index.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/now.json
  packages/now-node/test/fixtures/18-nested-tsconfig/package.json
  packages/now-node/test/fixtures/18-nested-tsconfig/tsconfig.json
  packages/now-node/test/fixtures/45-noEmitOnError-true/index.ts
  packages/now-node/test/fixtures/45-noEmitOnError-true/now.json
  packages/now-node/test/fixtures/45-noEmitOnError-true/package.json
  packages/now-node/test/fixtures/45-noEmitOnError-true/tsconfig.json
  packages/now-node/test/fixtures/46-noEmitOnError-false/index.ts
  packages/now-node/test/fixtures/46-noEmitOnError-false/now.json
  packages/now-node/test/fixtures/46-noEmitOnError-false/package.json
  packages/now-node/test/fixtures/46-noEmitOnError-false/tsconfig.json
  packages/now-node/test/test.js
Labels: @now/node, automerge

#938 Bump node-file-trace to 0.2.10
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/next, @now/node, automerge

#930 [now-python] More robust way to install the pipenv converter regardless of OS
  packages/now-python/src/index.ts
Labels: @now/python, automerge

#939 [docs] Add instructions for deploying Builder as a tarball
  CONTRIBUTING.md
Labels: Type: Docs, automerge

#942 Upgrade `@zeit/node-file-trace` to `0.2.11`
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/next, @now/node, automerge, dependencies

#940 [now-static-build] Fix "TypeError: Cannot convert undefined or null to object"
  packages/now-static-build/src/index.ts
Labels: @now/static-build

#943 [now-build-utils] Fix detected builders tag
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils

#909 [now-next] Use `debug()` from build-utils
  packages/now-next/src/index.ts
Labels: @now/next, automerge

#944 [now-next] Always use node-file-trace if available
  packages/now-next/src/create-serverless-config.ts
Labels: @now/next, automerge

#844 [now-ruby] Use `debug()` from build-utils
  packages/now-ruby/index.ts
  packages/now-ruby/install-ruby.ts
Labels: @now/ruby, automerge

#924 [now-static-build] Use `debug()` from build-utils
  packages/now-static-build/src/index.ts
Labels: @now/static-build, automerge

#923 [now-go] Use `debug()` from build-utils
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
  packages/now-go/package.json
  yarn.lock
Labels: @now/go, automerge

#799 [now-static-build] Optimize default routes for vue
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/13-vue/now.json
  packages/now-static-build/test/fixtures/13-vue/public/manifest.json
  packages/now-static-build/test/fixtures/13-vue/public/robots.txt
Labels: @now/static-build

#947 [now-node][now-next] Bump node-file-trace to 0.2.13
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/next, @now/node, automerge

#921 [now-node] Use `debug()` from build-utils
  packages/now-node/src/index.ts
  packages/now-static-build/src/index.ts
Labels: @now/node, automerge

#922 [now-python] Use `debug()` from build-utils
  packages/now-python/src/index.ts
Labels: @now/python, automerge
